$primaryColor: #FF7B01;
$secondaryColor: #9A1D01;

@import "text";

@mixin textalign {
	vertical-align: bottom;
	text-align: center;
}

.containerhead {
	width:100%;
}

.header {
	background-color:$primaryColor;
	width: auto;
}

.header h1 {
	margin:0;
	padding-top:18px;
}

.logo {
	display:inline-block;
	padding-left:25px;
	padding-right:0;
}
.logo img{
    height: 40px;
    left: 225px;
    max-width: 40px;
    position: absolute;
    top: 9px;
}

.about, .work, .social {
	padding-right:2px;
	padding-top:4px;
	padding-left:2px;
}

.about, .work, .social h2 {
	@include textalign;
}

.containerbody {
	width:90%;
}