$primaryColor: #ED933B;
$secondaryColor: #9A1D01;

@import "text";

@mixin textalign {
	vertical-align: bottom;
	text-align: center;
}

@mixin icon {
	color:white;
	font-size: 30px;
    position: relative;
    top: 5px;
}

.containerhead {
	width:100%;
}

.header {
	background-color:$primaryColor;
	width: auto;
}

.header h1 {
	margin:0;
	padding-top:10px;
}

.logo {
	display:inline-block;
	padding-left:25px;
	padding-right:0;
}
.logo img{
    height: 60px;
    left: 250px;
    max-width: 60px;
    position: absolute;
    top: 0;
}

.home, .about, .work, .social, .network {
	padding-right:2px;
	padding-top:4px;
	padding-left:2px;
	display:inline-block;
}

.home,.about, .work, .social, .network i {
	@include icon;
}

.home i {
	position: absolute;
	top: 7px;
}

.about i {
	position: absolute;
	top: 5px;
	left: 10px;
}

.work i {
	position: absolute;
	top: 7px;
}

.social i {
	font-size:26px;
	position: absolute;
	top: 8px;
}

.network i {
	position: absolute;
	top: 11px;
	left: 0px ;
}

.containerbody {
	width:90%;
}